#frontpageBody {
    background-image: url("background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#startscreen { color: #FFF;
font-family: 'Arial',bold; font-size: 95px;
font-weight: 800;
line-height: 72px;
margin-top: 10%;
padding-left: 1%;
text-align: left;
text-transform: uppercase;

}

#startscreen2 { color: #FFF;
font-family: 'Arial',bold; font-size: 25px;
padding-left: 1%;
font-weight: 800;
text-align: left;
text-transform: uppercase;
}


.buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#booton {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    padding: 1em;
    padding-left: 1%;
    text-align: center;

    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
    }
}


.btn {
  color: #fff;
  cursor: pointer;
  // display: block;
  font-size:20px;
  font-weight: 400;
  line-height: 50px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  @media(min-width: 600px) {

    margin: 0 1em 2em;

  }

  &:hover { text-decoration: none; }

}
.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 2px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
  border: 0px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}