#absoluteHeadline{
    font-family: 'Arial',sans-serif; font-size: 90px;
    background-image: url("background2.png");
    margin-top: 18px;
    color: #FFF;
    padding-top: 5px;
}


#filmselector{

    padding-top: 5px;
    padding-bottom: 5px;

}

#topicModelling {
    background-color: #FFF;
    width: 40%;
    float: right;
    right: 0;

}

#psychologicalValues{
    position: left;
    width: 60%;
}

#archetypes{
    float: left;
    width: 60%;
}

#text{
     float: right;
     width: 40%;
     right: 0;
     height: 450px;
     top: 0;

}

#textBox{
     font-family: 'Courier New'; font-size: 12px;
     background: #eee;
     overflow: auto;
     height: 80%;
     text-align: justify;
     font-weight: normal;
}

#textText{
    padding: 10px;
}

#networkAlgos{
    width: 40%;
    float: right;
    right: 0;
    height: 500px;
}

#relC{
    width:100%;
}

.dropbtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #bbb;
  padding:.75em 1em .5em 1em;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
  background-color:#4CAF50;
  background-image:url(select-arrow.png);
  background-position: right;
  background-repeat: no-repeat;
  font-family: 'Arial',sans-serif; font-size: 16px;
  text-transform: uppercase;
  color: white;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #bbb;
  padding:.75em 1em .5em 1em;
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
  background-color:#4CAF50;
  background-image:url(select-arrow.png);
  background-position: right;
  background-repeat: no-repeat;
  font-family: 'Arial',sans-serif; font-size: 16px;
  text-transform: uppercase;
  color: white;

}
select:hover {
  background-color:#3a853d;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

option {
  background-color:#4CAF50;
  border-top:1px solid #444;
  padding:.3em 1em .3em 1em;
}


